/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "my";
  src: url("my.ttf");
  font-display: swap;
}

@font-face {
  font-family: "my2";
  src: url("my2.ttf");
  font-display: swap;
}

@font-face {
  font-family: "my3";
  src: url("my3.ttf");
  font-display: swap;
}
